# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive files
tfplan
*.pem
*.key
*.pub
exam_key
exam_key.pub

# VS Code
.vscode/
terraform.tfvars
.terraform.lock.hcl
